@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    font-family:Roboto, Arial,  sans-serif
}
.mat-vertical-content
{
padding-bottom: 0px!important;
}

.mainTable th{
    text-align: center;
}
.btnSubmit{
   background-color: #337ab7!important;
   cursor: pointer;
   color: white;
}
.btnClear{
    background-color: lightgrey;
    cursor: pointer;
}
.matFormInput{
    width:100%;
}

.matCardHeading{
    /* width: 100%; */
    border: 1px solid lightgrey;
    background-color: #337ab7!important;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}

mat-dialog-container{
    border: 2px solid lightgrey;
}
mat-drawer-container{
    padding: 0!important;
    width: 100%!important;
}
.mainToolBar{
    background-color: #337ab7;
}
.mainTable {
    margin: 5px 0 0 10px;
    width: 98%;
}
.mainTable thead{
    background-color: #337ab7;
}

.mainTable tr:not(tfoot):hover {
    background: rgb(247, 241, 241);
    cursor: pointer;
  }
  
  .mainTable  tr:not(tfoot):active {
    background: #f0e7e7;
  }